@charset "utf-8";
/* CSS Document */
body{font-family: 'Baloo 2', cursive;
font-family: 'Itim', cursive;
font-family: 'Mali', cursive;} 
*{margin: 0;
padding: 0}
#wrapper{ width: 100%; background: url(../img/hiiiiiiiii.png), #FFDE5E; background-repeat: no-repeat;
background-size:500px, 1000px;
background-position: 150px;  }
}

.container{ height: 100%;
	width: 100%;
	margin: 0 auto;  
/*	background: rgba(217,181,16,1.00)*/
}

.row{
	display: flex;
	flex-wrap: wrap;
}
.col-1{
	width: 8.333%;
}
.col-2{
	width: 16.67%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.65%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.64%;
}
.col-9{
	width: 74.97%;
}
.col-10{
	width: 83.33%;}
.col-11{
	width: 91.63%;}
.col-12{
	width: 100%;}
/*header*/
header{ padding: 20px 0; position: fixed; width: 100%; background: rgba(77,76,76,1.00); text-transform: uppercase;
; z-index: 3000}
.logo a {font-size: 50px;
text-decoration: none;
color: aliceblue;
font-weight: bold; margin: 110px ; 
/*	background: rgba(69,69,69,1.00)*/
}
.menu{ height: 100%;  }
.menu ul {height: 100%;
display: flex;
justify-content: flex-end;
align-items: center;
list-style: none;
;
}
.menu ul li a{text-decoration: none;
	color: aliceblue;
	
}
.menu ul li{
	margin: 0 20px;

	
}
.menu ul li a:hover{
	color:  rgba(255,211,40,1.00) ;
	transition: all 0.5s;
	
}
.icon{height: 100%;
display: flex;
justify-content: flex-end;
align-items: center;
; }

.icon a{height: 100%; 
color: rgba(255,255,255,1.00);
font-size: 40px;
margin: 0 160px ;
display: flex;
justify-content: flex-end;
align-items: center}
/*<smile>*/

.banner{ 
height: 100vh;
overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	
}
.banner img{ width: 800px}
.content h1{font-size: 40px;
letter-spacing: 1px;
margin: 30px 00
}
.content{ background:#E3E3E3; 
	border-radius:5%;height: 360px; width: 400px;

position: absolute;
top: 30%;
left: 55%;
text-align: center;

padding:20px 0}
.right-wrapper {
    margin: 20px auto;
    text-align: center;
}
.spinnerIconWrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 65px;
    height: 65px;
    display: inline-block;
    margin: 0 0 20px 0;
}
.spinnerIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 6.5px white;
    border-right: solid 6.5px rgba(223,223,194,0);
    border-left: solid 6.5px rgba(223,223,194,0);
    border-bottom: solid 6.5px rgba(223,223,194,0);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotate(360deg);
    transform: translate(-50%,-50%) rotate(360deg);
    -webkit-animation: mouthAnimation 3s infinite cubic-bezier(.31,-.37,.52,.96);
    animation: mouthAnimation 3s infinite cubic-bezier(.31,-.37,.52,.96);
}
.spinnerIconWrapper::before, .spinnerIconWrapper::after {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgba(255,255,255,1.00);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: leftEyeAnimation 3s infinite cubic-bezier(.455, .03, .515, .955);
    animation: leftEyeAnimation 3s infinite cubic-bezier(.455, .03, .515, .955);
}
.spinnerIconWrapper::after {
    -webkit-animation: rightEyeAnimation 3s infinite cubic-bezier(.455,.03,.515,.955);
    animation: rightEyeAnimation 3s infinite cubic-bezier(.455,.03,.515,.955);
}

@-webkit-keyframes mouthAnimation {
    0% {
        -webkit-transform: translate(-50%, -50%) rotateZ(180deg);
        transform: translate(-50%, -50%) rotateZ(180deg)
    }
    40%,
    100% {
        -webkit-transform: translate(-50%, -50%) rotateZ(1260deg);
        transform: translate(-50%, -50%) rotateZ(1260deg)
    }
}

@keyframes mouthAnimation {
    0% {
        -webkit-transform: translate(-50%, -50%) rotateZ(180deg);
        transform: translate(-50%, -50%) rotateZ(180deg)
    }
    40%,
    100% {
        -webkit-transform: translate(-50%, -50%) rotateZ(1260deg);
        transform: translate(-50%, -50%) rotateZ(1260deg)
    }
}
@-webkit-keyframes leftEyeAnimation {
    0%,
    50% {
        width: 35px;
        height: 35px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
    60%,
    90% {
        width: 10px;
        height: 10px;
        -webkit-transform: translate(-150%, -50%);
        transform: translate(-150%, -50%)
    }
    100% {
        width: 35px;
        height: 35px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}
@keyframes leftEyeAnimation {
    0%,
    50% {
        width: 35px;
        height: 35px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
    60%,
    90% {
        width: 10px;
        height: 10px;
        -webkit-transform: translate(-150%, -50%);
        transform: translate(-150%, -50%)
    }
    100% {
        width: 35px;
        height: 35px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}
@-webkit-keyframes rightEyeAnimation {
    0%,
    50% {
        width: 35px;
        height: 35px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
    60%,
    70% {
        width: 10px;
        height: 10px;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%)
    }
    75% {
        height: 2px
    }
    75%,
    80%,
    90% {
        width: 10px;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%)
    }
    80%,
    90% {
        height: 10px
    }
    100% {
        width: 35px;
        heigh: 35px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}
@keyframes rightEyeAnimation {
    0%,
    50% {
        width: 35px;
        height: 35px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
    60%,
    70% {
        width: 10px;
        height: 10px;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%)
    }
    75% {
        height: 2px
    }
    75%,
    80%,
    90% {
        width: 10px;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%)
    }
    80%,
    90% {
        height: 10px
    }
    100% {
        width: 35px;
        heigh: 35px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }

}
/*<smlie>*/



.who{ padding: 100px 0px 100px 80px;
background: rgba(255,247,182,1.00);
}
.img-who :hover{ transform:  scale(1.2)}
.img-who img{width: 78%; margin-left: 65px ; margin-top: 130px;
border-radius: 25px}


.content1{margin: 100px 120px 100px 20px }
.content1 h1{font-size: 35px; 
	color: rgba(255,215,0,1.00);  
letter-spacing: 2px;
	margin: 30px 0}
.line{width: 50px; height: 2px; background: rgba(0,0,0,1.00);margin: 0 10px}
.title{ display: flex; align-items:flex-end; }
.content1 span{ font-size: 20px; font-weight: bold}

.btn1{padding: 10px 40px;
border: 3px solid rgba(255,215,0,1.00); background: rgba(255,215,0,1.00);
color:black;
text-decoration: none;
transition-duration: 1s;border-radius: 50px}

.btn1:hover{color:rgba(0,0,0,1.00);
background: rgba(255,255,255,1.00)}
.content1 a {text-decoration: none; color: cornflowerblue}
.content1 a:hover{ color: coral}
.icon1{ font-size: 72px;
padding: 20px 0;
color: #e93314;
transition: all 0.5s}
.box h2{ font-size: 32px;
word-spacing: 10px;
letter-spacing: 1px}
.box p {margin: 20px; font-size: 18px;
letter-spacing: 1.5px}
.box:hover .icon1{ transform: translateY(-20px)}

.services{ padding: 200px 0}
.box{ text-align: center;}
/*skill*/

.skill{ padding: 100px 0px 100px 80px;
/*background: cornflowerblue;*/
}

.content0 p {width: 70%; margin-left: 65px ; margin-top: 200px;
border-radius: 25px}
}
.content2 {margin: 100px 120px 100px 20px }
.content2 h1{font-size: 35px; 
	color: cornflowerblue;  
letter-spacing: 2px;
	margin: 30px 0}
.line{width: 50px; height: 2px; background: rgba(0,0,0,1.00);margin: 0 10px}
.title{ display: flex; align-items:flex-end; }
.content2 span{ font-size: 20px; font-weight: bold}

* {box-sizing:border-box}

 .containerskill {
   width: 80%; height: 20px; 
   background-color:antiquewhite; border-radius: 8px; margin-bottom: 25px
 }
.skills {
   text-align: right; 
   padding-top: 4px;padding-right: 4px; 
   ;font-size:  10px;
   color: black;
 }
 .ps {width: 90%; background-color:cornflowerblue;height: 20px;border-radius: 8px} 
 .ai {width: 80%; background-color:  DarkOrange;height: 20px;border-radius: 8px} 
 .de {width: 65%; background-color:  plum;height: 20px;border-radius: 8px}
 .photo {width: 55%; background-color: darkseagreen;height: 20px;border-radius: 8px}
/*///////////////////*/
.profilmenu{padding: 40px; 
background: rgba(255,247,182,1.00);}
.profilmenu h1{display: flex; justify-content: center; align-items: center;font-size: 40px;
letter-spacing: 1px;
margin: 30px 00 }
.profilmenu span { display: flex; 
justify-content: center;
}.profilmenu  h2 { display: flex; 
justify-content: center; align-items: center; margin-top: 50px
}
.profile{
background: rgba(255,247,182,1.00); 
	display: flex;
	justify-content:center; 
	align-content: center; }
.container3{ height: 700px;display: flex;
	justify-content:center; 
	align-content: center; }
.box{width: 360px;
height: 245px;
border: 2px solid black;
background:rgba(201,233,13,1.00);
overflow: hidden;
margin: 20px 0px}

.box img{ width: 100%;}



.zoom img:hover{transform: scale(1.5);}


.btn2{padding: 10px 40px;
border: 3px solid rgba(255,215,0,1.00); background: rgba(255,215,0,1.00);
color:black;
text-decoration: none;
transition-duration: 1s;border-radius: 50px;}

.btn2:hover{color:rgba(0,0,0,1.00);
background: rgba(255,255,255,1.00)}


/*lienhe*/
.lienhe{padding: 50px;background: #FFDE5E
}
.lienhe h1{display: flex; justify-content: center; align-items: center;font-size: 40px;
letter-spacing: 1px;
margin: 30px 00 }
.lienhe span { display: flex; 
	justify-content: center;}
.lienhe1{ display: flex; justify-content:center; align-content: center ;
background:url(../img/·ªè.png),#FFDE5E; background-size: 200px; }





.lienhe1 input
{width: 100%;
height: 38px;
outline: none;
border-radius: 3.5px;
border-width: 1.2px;
border-color: rgba(165,165,165,1.00); font-size: 17px; padding-left: 5px
}
.lienhe1 table td{ padding: 5px}
.lienhe1 textarea{width: 100%;
height: 135px;
outline: none;
border-radius: 3.5px;
border-width: 1.2px;
border-color: rgba(165,165,165,1.00); font-size: 17px; padding-left: 5px }
.lienhe1 button {width: 70px; 
padding: 15px 0; background: ; border-radius: 5px;
border-width: 1.2px;
border-color: rgba(165,165,165,1.00); font-size: 18px; margin: 0 200px
	
}
	
footer {display: flex ; justify-content: center; align-items: center;
	
   ; width: 100%; height: 50px;
     background: rgba(77,76,76,1.00)
}
footer span{ color: aliceblue}
/*......../////////////////*/
.iconcc{; background: #FFDE5E; padding: 5px; padding-left: 670px; padding-top: 20px}
.icon{ display: flex; justify-content: center; align-items: center;}
.container .button{
    display: inline-block;
    height: 40px;
    width: 40px;
/*    float: left;*/
	
    margin: 0 8px;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.5s ease-out;
}

.container .button .icon{
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 50px;
    transition: all 0.5s ease-out;
}

.container .button .icon i{
    font-size: 20px;
    line-height: 5px;
    transition: all 0.5s ease-out;
}

.container .button  span{
    font-size: 15px;
/*    font-weight: 100;*/
/*    line-height: 50px;*/
/*    margin-: 20px;*/
    transition: all 0.5s ease-out;
}

.container .button:hover{
    width: 150px;
}

.container .button{
    overflow: hidden;
	
}

.container .button:nth-child(1):hover .icon{
    background: #4267B2;
}
.container .button:nth-child(2):hover .icon{
    background: #e4405f;
}


.container .button:nth-child(3):hover .icon{
    background: #cd201f;
}

.container .button:hover .icon i{
    color: #fff;
}


.container .button:nth-child(1) span{
    color: #4267B2;
}
.container .button:nth-child(2) span{
    color: #e4405f;
}

  .container .button:nth-child(3) span{
    color: #cd201f;
}
